management:
  endpoints:
    web:
      exposure:
        include: "*"
      discovery:
        enabled: true
      base-path: /actuator
    access:
      default: unrestricted
  prometheus:
    metrics:
      export:
        enabled: true
        step: 5s
        pushgateway:
          enabled: true
  logging:
    export:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}-${REPLICA_ID:1}
    distribution:
      percentiles-histogram:
        enabled: true
        http.server.requests: true
        http.client.requests: true
        resilience4j.circuitbreaker.calls: true
      percentiles:
        http.server.requests: 0.5, 0.95, 0.99
    enable:
      jvm: true
      process: true
      system: true
      all: true
  tracing:
    sampling:
      probability: 1
    enabled: true
    propagation:
      type: W3C
  zipkin:
    tracing:
      export:
        enabled: true
      endpoint: http://zipkin:9411/api/v2/spans
  endpoint:
    metrics:
      access: unrestricted
    prometheus:
      access: unrestricted
    health:
      show-details: always
      show-components: always
      probes:
        enabled: true
    gateway:
      access: unrestricted