management:
  endpoints:
    web:
      exposure:
        include: "*"
      base-path: /actuator
      discovery:
        enabled: true
    access:
      default: unrestricted
  endpoint:
    health:
      show-details: always
      show-components: always
      probes:
        enabled: true
    gateway:
      access: unrestricted
    prometheus:
      access: unrestricted
    metrics:
      access: unrestricted
  metrics:
    enable:
      all: true
      jvm: true
      process: true
      system: true
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        http.server.requests: true
        resilience4j.circuitbreaker.calls: true
        enabled: true
        http.client.requests: true
      percentiles:
        http.server.requests: 0.5, 0.95, 0.99
  prometheus:
    metrics:
      export:
        enabled: true
        pushgateway:
          enabled: true
        step: 5s
  tracing:
    enabled: true
    sampling:
      probability: 1
    propagation:
      type: W3C
  zipkin:
    tracing:
      endpoint: http://zipkin:9411/api/v2/spans
      export:
        enabled: true
  logging:
    export:
      enabled: true